.container {
  max-width: 1170px;
  min-width: 320px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}
.coffeeList {
  border: 1px solid #555;
  width: 70%;
  margin: 15px 5px;
}
.coffeeCart {
  border: 1px solid #555;
  flex-grow: 1;
  margin: 15px 5px;
}
.coffeeList__img {
  width: 30%;
}
.coffeeList__title {
  width: 50%;
  padding: 0 20px 10px;
  box-sizing: border-box;
}
.coffeeList__item {
  display: flex;
  justify-content: space-around;
  border: 1px solid #dedede;
  margin: 10px;
  padding: 5px;
}
.coffeeList__name {
  font-weight: 500;
  font-size: 30px;
  margin: 0 0 10px;
  padding: 0;
}
.coffeeList__price {
  font-size: 25px;
  margin: 0;
  padding: 0;
}
.coffeeList__btn {
  margin-top: 25px;
}
.material-icons.md { font-size: 60px; color: #333}
.material-icons.md:hover {cursor: pointer;}