.cart {
  padding: 10px;
}
.cart-orders {
  border-bottom: 1px solid #777;
}
.cart-orders p:first-child {
  margin-top: 0;
}
.cart-orders__price {
  float: right;
  font-weight: 500;
}
.cart-orders__item:hover {
  cursor: pointer;
  font-weight: 700;
}
.cart-orders__btn {
  padding: 10px 20px;
  font-size: 18px;
  color: #333;
}